{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}


<div class="container">

    <div class="jumbotron">
        <h1 class="display-4">Powered by {{ controller_name }}! 🎥</h1>
        <hr class="my-4">
        <h2>{{ query }}</h2>
    </div>

    <div class="row">

        <div class="col-md-4">

            <h3>This friendly message is coming from:</h3>

            <ul class="list-group">
                <li class="list-group-item">Your controller at <a href="{{ 'src/Controller/OMDBController.php'|file_link(0) }}">src/Controller/OMDBController.php</a></li>
                <li class="list-group-item">Your template at <a href="{{ 'templates/omdb/index.html.twig'|file_link(0) }}">templates/omdb/index.html.twig</a></li>
            </ul>
        </div>


        <div class="col-md-8">

            <h3>La liste des films : </h3>

            <div class="card-columns">

                {% for item in movies %}
                <div class="card">
                    <img class="card-img-top" src="{{ item.Poster }}" title="{{ item.Title|escape( 'html_attr') }}" alt="Poster {{ item.Title|escape( 'html_attr') }}">

                    <div class="card-body">
                        <h5 class="card-title">{{ item.Title }}</h5>
                        <p class="card-text">
                            <small class="text-muted">Année de sortie : {{ item.Year }}</small>
                        </p>
                        <p class="card-text">Référence IMDB : {{ item.imdbID }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
    </div>

</div>

{% endblock %}
